<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LOL_Hero_List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4782552F1C3D50FF009ECAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>478255481C3D50FF009ECAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>478255531C3D50FF009ECAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
