<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>汽车品牌列表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47A5AB8C1C43D1FE002EDA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A5ABA51C43D1FF002EDA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A5ABB01C43D1FF002EDA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
